@import '~node_modules/modern-normalize/modern-normalize.css';
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container_fix {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .container_fix {
    padding-left: 16px;
    padding-right: 16px;
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container_fix {
    width: 768px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .container_fix {
    width: 1280px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (min-width: 768px) {
  .navigation__item--page::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #E25B41;
    display: block;
    position: absolute;
    top: 270%;
    left: 0%;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.215, 0.61, 0.355, 1) 500ms, transform 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 500ms;
    transform: scaleX(0);
  }
}

.modal-button {
  margin-left: 3px;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .modal-button {
    display: none;
  }
}

.nav-box {
  display: flex;
}

@media screen and (min-width: 768px) {
  .navigation__item--page:hover::after {
    opacity: 1;
    transform: scaleX(1);
  }
}

@media screen and (min-width: 768px) {
  .navigation__list--item {
    margin-right: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__list--item {
    margin-right: 48px;
  }
}

@media screen and (min-width: 768px) {
  .navigation__item--page:hover {
    color: #E25B41;
  }
}

header {
  position: relative;
  padding-bottom: 44px;
}
@media screen and (min-width: 768px) {
  header {
    padding-bottom: 38px;
  }
}
@media screen and (min-width: 1200px) {
  header {
    padding-bottom: 64px;
    background-color: #969494;
  }
}

.navigation__list {
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation__list {
    display: flex;
    margin-left: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__list {
    margin-left: 260px;
  }
}

.header__open--icon {
  width: 20px;
  height: 20px;
}

.header__navigation {
  align-items: center;
  display: flex;
}

.contact__link--icon {
  fill: black;
}
@media screen and (min-width: 1200px) {
  .contact__link--icon {
    fill: #ffffff;
  }
}

.contact__header--list {
  margin-left: 182px;
}
@media screen and (min-width: 768px) {
  .contact__header--list {
    margin-left: 76px;
    margin-top: 13px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__header--list {
    margin-left: 308px;
  }
}

@media screen and (min-width: 320px) {
  .navigation__item--page {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-left: 40px;
    margin-top: 32px;
    margin-bottom: 35px;
    display: block;
    position: relative;
    text-decoration: none;
    color: black;
  }
}
@media screen and (min-width: 768px) {
  .navigation__item--page {
    font-size: 14px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__item--page {
    color: #ffffff;
  }
}

@media screen and (min-width: 320px) {
  .header__navigation-a {
    margin-top: 16px;
    margin-left: 16px;
  }
}
@media screen and (min-width: 768px) {
  .header__navigation-a {
    margin-top: 24px;
    margin-left: 24px;
  }
}
@media screen and (min-width: 768px) {
  .header__navigation-a {
    margin-top: 28px;
  }
}

.header__navigation-icon {
  fill: black;
  width: 35px;
  height: 35px;
}
@media screen and (min-width: 768px) {
  .header__navigation-icon {
    width: 72px;
    height: 57px;
  }
}
@media screen and (min-width: 1200px) {
  .header__navigation-icon {
    fill: #ffffff;
  }
}

@media screen and (min-width: 320px) {
  .modal-button .icon-cross {
    display: none;
  }
}

@media screen and (min-width: 320px) {
  .modal-button.is-open .icon-cross {
    display: block;
  }
}

@media screen and (min-width: 320px) {
  .modal-button .icon-menu {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .modal-button .icon-menu {
    display: none;
  }
}

@media screen and (min-width: 320px) {
  .modal-button.is-open .icon-menu {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .modal-button {
    z-index: 2;
    position: absolute;
    top: 16px;
    right: 19px;
    width: 20px;
    height: 20px;
    border: none;
    background-color: white;
  }
}
@media screen and (min-width: 768px) {
  .modal-button {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .mobile-modal {
    position: absolute;
    display: none;
    top: 3px;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #E86F54;
    padding-top: 124px;
    padding-bottom: 124px;
  }
  .mobile-modal.is-open {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .mobile-modal {
    display: none;
  }
}

.modal__list {
  text-align: center;
}

.modal__list--item {
  margin-top: 26px;
}

.modal__item--page {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 767px) {
  .hero {
    background-color: #ffffff;
    position: relative;
    padding-bottom: 150px;
  }
}
@media screen and (max-width: 1200px) {
  .hero {
    background-color: #ffffff;
    position: relative;
    padding-bottom: 150px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: url(../img/hero@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 201px;
    padding-top: 328px;
    padding-left: 145px;
    padding-right: 145px;
    width: 100%;
  }
}

.hero__main-title {
  font-family: "Montserrat";
  font-weight: 400;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .hero__main-title {
    color: black;
    font-size: 52px;
    line-height: 63px;
    position: absolute;
    top: 250px;
    right: 0.2px;
    left: 2px;
  }
}
@media screen and (min-width: 768px) {
  .hero__main-title {
    font-size: 120px;
    line-height: 146px;
    position: absolute;
    top: 580px;
    left: 45px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__main-title {
    font-size: 160px;
    line-height: 195px;
    position: unset;
    color: white;
  }
}

@media screen and (max-width: 1200px) {
  .hero-title__span {
    text-decoration: none;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title__span {
    text-decoration: overline;
  }
}

@media screen and (max-width: 767px) {
  .hero-box {
    background-image: url(../img/hero@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 145px;
    height: 274px;
    border-radius: 226px;
  }
}
@media screen and (min-width: 768px) {
  .hero-box {
    width: 390px;
    height: 636px;
    background-image: url(../img/hero@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-box {
    display: none;
  }
}

.hero-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .hero-list__item {
    margin-right: 14px;
  }
}
@media screen and (min-width: 768px) {
  .hero-list__item {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-list__item {
    margin-right: 725px;
    margin-top: 76px;
  }
}

@media screen and (max-width: 767px) {
  .hero-list__item:nth-child(2) {
    margin-right: 4px;
  }
}
@media screen and (min-width: 768px) {
  .hero-list__item:nth-child(2) {
    margin-right: 20px;
  }
}

.hero-list__item:last-child {
  margin-right: 0px;
}

@media screen and (max-width: 767px) {
  .hero__first-svg {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .hero__first-svg {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .hero__first-svg {
    width: 166px;
    height: 166px;
    fill: white;
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .hero__second-svg {
    width: 64px;
    height: 76px;
  }
}
@media screen and (min-width: 768px) {
  .hero__second-svg {
    width: 150px;
    height: 150px;
    fill: black;
  }
}
@media screen and (min-width: 1200px) {
  .hero__second-svg {
    display: none;
  }
}

.hero__item-text {
  font-family: "Montserrat";
  font-weight: 400;
}
@media screen and (max-width: 767px) {
  .hero__item-text {
    color: black;
    font-size: 14px;
    line-height: 17px;
  }
}
@media screen and (min-width: 768px) {
  .hero__item-text {
    font-size: 24px;
    line-height: 29px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__item-text {
    font-size: 32px;
    line-height: 39px;
    color: white;
  }
}

.about__title {
  margin-right: 14px;
  font-size: 25px;
  line-height: 29px;
  font-weight: 700;
  color: #000000;
  margin-right: 16px;
}
@media screen and (min-width: 768px) {
  .about__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
  }
}
@media screen and (min-width: 1200px) {
  .about__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 1.22;
    color: #000000;
    margin-right: 16px;
  }
}

.about__div {
  content: "";
  width: 1050px;
  border-bottom: 1px solid #000000;
  height: 1px;
}

.about-center {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
}
@media screen and (min-width: 1200px) {
  .about-center {
    padding-top: 80px;
  }
}

.about__text {
  margin-bottom: 16px;
  font-size: 16px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  width: 288px;
}
@media screen and (min-width: 768px) {
  .about__text {
    margin-right: 39px;
    margin-top: 56px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 123px;
  }
}
@media screen and (min-width: 1200px) {
  .about__text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.22;
    width: 493px;
    margin-right: 100px;
    color: #000000;
    margin-top: 120px;
  }
}

.about__item {
  display: flex;
  align-items: center;
}

.about__img {
  margin-bottom: 50px;
  width: 288px;
  height: 178px;
}
@media screen and (min-width: 768px) {
  .about__img {
    width: 344px;
    height: 217px;
    margin-top: 38px;
  }
}
@media screen and (min-width: 1200px) {
  .about__img {
    width: 632px;
    height: 344px;
    margin-bottom: 100px;
  }
}

.about__list {
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .about__list {
    display: flex;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 1200px) {
  .about__list {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.title_store {
  font-family: "Montserrat";
  font-style: normal;
  color: #000000;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .title_store {
    font-size: 44px;
    line-height: 54px;
  }
}

.title_store::after {
  content: "";
  margin-left: 10px;
  margin-top: 15px;
  position: absolute;
  border: 1px solid #000000;
  width: 190px;
}
@media screen and (min-width: 768px) {
  .title_store::after {
    width: 550px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .title_store::after {
    width: 1052px;
  }
}

.store_list {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .store_list {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .store_list {
    margin-top: 80px;
  }
}

.flowers_text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  margin-top: 10px;
  color: #000000;
  opacity: 0.6;
}
@media screen and (min-width: 768px) {
  .flowers_text {
    font-size: 24px;
    line-height: 29px;
  }
}
@media screen and (min-width: 1200px) {
  .flowers_text {
    font-size: 28px;
    line-height: 34px;
  }
}

.flowers_name {
  margin-top: 8px;
  font-family: "Montserrat";
  font-style: normal;
  color: #000000;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
}
@media screen and (min-width: 768px) {
  .flowers_name {
    font-size: 24px;
    margin-top: 15px;
    line-height: 29px;
    margin-top: 6px;
  }
}
@media screen and (min-width: 1200px) {
  .flowers_name {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    margin-top: 4px;
  }
}

.flowers_name::after {
  content: "";
  position: absolute;
  margin-top: 20px;
  margin-left: 5px;
}
@media screen and (min-width: 768px) {
  .flowers_name::after {
    width: 71px;
    border: 1px solid #000000;
  }
}
@media screen and (min-width: 1200px) {
  .flowers_name::after {
    width: 300px;
  }
}

.store_button {
  background: #E86F54;
  border-radius: 38px;
  width: 208px;
  height: 44px;
  padding: 14px 28px;
  gap: 10px;
  border: none;
  color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .store_button {
    width: 280px;
    font-weight: 500;
    font-size: 28px;
    height: 64px;
    padding: 16px 32px;
  }
}

.store_item {
  margin-right: 15px;
  width: 136px;
  height: 208px;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .store_item {
    width: 344px;
    height: 491px;
    margin-right: 30px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .store_item {
    margin-bottom: 60px;
    width: 600px;
    height: 640px;
  }
}

.store_item:nth-child(2) {
  margin-right: 0px;
}

.store_item:last-child {
  margin-right: 0px;
}

img {
  width: 136px;
  height: 155px;
}
@media screen and (min-width: 768px) {
  img {
    width: 344px;
    height: 399px;
  }
}
@media screen and (min-width: 1200px) {
  img {
    width: 600px;
    height: 542px;
  }
}

.section-delivery {
  padding-top: 100px;
}

@media screen and (min-width: 320px) {
  .section__delivery-title {
    font-family: "Montserrat";
    margin-right: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }
}
@media screen and (min-width: 768px) {
  .section__delivery-title {
    font-size: 44px;
    line-height: 54px;
  }
}
@media screen and (min-width: 320px) {
  .delivery-div {
    width: 100%;
    height: 0px;
    margin-left: 7px;
    margin-top: 13px;
    border: 1px solid #000000;
  }
}
@media screen and (min-width: 768px) {
  .delivery-div {
    margin-top: 25px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 320px) {
  .section__item-button {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    width: 40px;
    height: 40px;
    background-color: white;
    color: #000000;
    border-radius: 50%;
    margin-right: 8px;
  }
}
@media screen and (min-width: 768px) {
  .section__item-button {
    margin-right: 20px;
    width: 64px;
    height: 64px;
    font-size: 26px;
    line-height: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .section__item-button {
    margin-right: 56px;
  }
}

.section__list-item {
  display: flex;
}
@media screen and (min-width: 320px) {
  .section__list-item {
    margin-top: 20px;
    margin-bottom: 14px;
  }
}
@media screen and (min-width: 768px) {
  .section__list-item {
    margin-top: 32px;
    margin-bottom: 23px;
  }
}
@media screen and (min-width: 1200px) {
  .section__list-item {
    margin-top: 57px;
    margin-bottom: 35px;
  }
}

@media screen and (min-width: 320px) {
  .section__item-text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    width: 232px;
    height: 51px;
    color: #000000;
  }
}
@media screen and (min-width: 768px) {
  .section__item-text {
    font-size: 24px;
    line-height: 29px;
    width: 544px;
    height: 58px;
  }
}
@media screen and (min-width: 1200px) {
  .section__item-text {
    font-size: 32px;
    line-height: 39px;
    width: 790px;
    height: 78px;
  }
}

@media screen and (min-width: 320px) {
  .section__delivery-list {
    margin-top: 32px;
  }
}
@media screen and (min-width: 768px) {
  .section__delivery-list {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section__delivery-list {
    margin-top: 100px;
  }
}

.delivery-center {
  display: flex;
}

@media screen and (min-width: 320px) {
  .section__delivery-img {
    min-width: 100%;
    height: 135px;
  }
}
@media screen and (min-width: 768px) {
  .section__delivery-img {
    height: 264px;
  }
}
@media screen and (min-width: 1200px) {
  .section__delivery-img {
    height: 395px;
  }
}

.blog {
  position: relative;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 100px;
}
@media screen and (max-width: 767px) {
  .blog {
    margin-left: 16px;
  }
}
.blog__title {
  font-family: "Montserrat";
  font-weight: 700;
  color: #000000;
  font-size: 44px;
  margin-right: 16px;
  margin-bottom: 122px;
}
@media screen and (max-width: 767px) {
  .blog__title {
    font-size: 24px;
    margin-right: 2px;
  }
}
.blog__center {
  display: flex;
}
.blog__div {
  width: 97%;
  height: 0px;
  margin-left: 7px;
  margin-top: 25px;
  border: 1px solid #000000;
}
@media screen and (max-width: 767px) {
  .blog__div {
    width: 100%;
    margin-top: 13px;
  }
}
.blog__mini-title {
  font-family: "Montserrat";
  font-size: 32px;
  font-weight: 500;
  color: #000000;
  text-align: center;
  margin-top: 44px;
}
@media screen and (max-width: 767px) {
  .blog__mini-title {
    font-size: 18px;
  }
}
.blog__button {
  display: flex;
  background-color: #E86F54;
  color: #FFFFFF;
  border-style: none;
  font-size: 28px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 69px;
  padding-right: 69px;
  border-radius: 38px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  margin-top: 57px;
}
@media screen and (max-width: 767px) {
  .blog__button {
    width: 170px;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
  }
}
.carousel {
  width: 390px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) {
  .carousel {
    width: 153px;
  }
}
@media screen and (min-width: 768px) {
  .carousel {
    width: 344px;
  }
}

.blog__modal {
  position: absolute;
  z-index: 2;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  width: 860px;
  height: 528px;
  background: #ffffff;
  display: flex;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal__btn {
  margin-top: 8px;
  margin-left: 92%;
  background-color: #ffffff;
  border: 1px;
  border-color: currentColor;
}

.blog__modal-img {
  width: 428px;
  height: 528px;
}

.blog__modal-close-btn {
  width: 24px;
  height: 24px;
  display: block;
  border-style: none;
}

.blog__modal-content {
  display: block;
  margin-top: 111px;
}

.blog__modal-content-item {
  display: flex;
  justify-content: center;
}

.blog__modal-title {
  font-weight: 600;
  font-size: 28px;
  color: #000000;
  margin-bottom: 24px;
}

.blog__modal-text {
  font-weight: 400;
  font-size: 16px;
  color: #5c5c5c;
  text-align: center;
  margin-bottom: 34px;
  width: 336px;
}

.modal__label {
  display: block;
}

.modal__input {
  margin-left: 10px;
  width: 336px;
  height: 49px;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
}

.modal__text {
  margin-left: 10px;
  font-weight: 500;
  font-size: 14px;
  color: #5c5c5c;
}

.blog__modal-btn {
  justify-content: center;
  align-items: center;
  padding-left: 126px;
  padding-right: 126px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 336px;
  height: 49px;
  margin-top: 28px;
  color: #ffffff;
  background: #e86f54;
  border-radius: 8px;
  border-style: none;
  font-weight: 600;
  font-size: 18px;
}

.footer {
  background-color: black;
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 32px 0px;
  }
}
@media screen and (max-width: 1200px) {
  .footer {
    padding: 60px 0px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding: 72px 0px;
  }
}

.footer .container_fix {
  display: flex;
  flex-wrap: wrap;
}

.container_side {
  margin-right: 44px;
}
@media screen and (max-width: 767px) {
  .container_side {
    width: 128px;
  }
}
@media screen and (min-width: 1200px) {
  .container_side {
    margin-right: 80px;
  }
}

.container_side:last-child {
  margin-right: 0px;
}

@media screen and (max-width: 767px) {
  .container_side:nth-child(2) {
    margin-right: 0px;
  }
}

@media screen and (max-width: 767px) {
  .footer__logo {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .footer__logo {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    width: 57px;
    height: 73px;
    fill: white;
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .footer__logo-style {
    margin: 0;
  }
}
@media screen and (max-width: 1200px) {
  .footer__logo-style {
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__logo-style {
    margin-right: 200px;
  }
}

@media screen and (max-width: 767px) {
  .footer__side-list {
    margin-right: 44px;
  }
}
@media screen and (max-width: 1200px) {
  .footer__side-list {
    margin-right: 44px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__side-list {
    margin-right: 96px;
  }
}

.footer__side-list:last-child {
  margin-right: 0px;
}

.footer__side-list:nth-child(3) {
  margin-right: 0px;
}
@media screen and (max-width: 767px) {
  .footer__side-list:nth-child(3) {
    margin-top: 32px;
  }
}
@media screen and (min-width: 768px) {
  .footer__side-list:nth-child(3) {
    margin-top: 0px;
  }
}

.footer__side-list:nth-child(2) {
  margin-right: 0px;
}

@media screen and (max-width: 767px) {
  .footer__main-list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1200px) {
  .footer__main-list {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .footer__main-list {
    display: flex;
  }
}

.footer__item {
  margin-bottom: 12px;
}

.footer__item:first-child {
  margin-bottom: 18px;
}

.footer__item:last-child {
  margin-bottom: 0px;
}

.footer-list-title {
  font-family: "Inter";
  font-weight: 700;
  color: white;
}
@media screen and (max-width: 767px) {
  .footer-list-title {
    font-size: 18px;
    line-height: 22px;
  }
}
@media screen and (max-width: 1200px) {
  .footer-list-title {
    font-size: 20px;
    line-height: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-list-title {
    font-size: 20px;
    line-height: 24px;
  }
}

.footer__list-text {
  font-family: "Inter";
  font-weight: 500;
  color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .footer__list-text {
    font-size: 14px;
    line-height: 17px;
  }
}
@media screen and (max-width: 1200px) {
  .footer__list-text {
    font-size: 16px;
    line-height: 19px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__list-text {
    font-size: 16px;
    line-height: 19px;
  }
}

.footer__adress {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.footer__networks-instagram {
  width: 28px;
  height: 28px;
}

.footer__networks-facebook {
  width: 28px;
  height: 28px;
  fill: white;
}

@media screen and (max-width: 767px) {
  .footer-networks__item {
    margin-right: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .footer-networks__item {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-networks__item {
    margin-bottom: 20px;
  }
}

.footer-networks__item:last-child {
  margin-bottom: 0px;
  margin-right: 0px;
}

.footer__networks {
  display: flex;
}
@media screen and (min-width: 768px) {
  .footer__networks {
    display: block;
  }
}

.contacts__Email {
  word-wrap: wrap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .contacts__Email {
    font-size: 16px;
    line-height: 19px;
    word-wrap: none;
  }
}

.contacts__tel {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .contacts__tel {
    font-size: 16px;
    line-height: 19px;
  }
}

.modal-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  margin-top: 28px;
  margin-left: 16px;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .modal-title {
    margin-left: 32px;
    margin-top: 48px;
    font-size: 32px;
    line-height: 39px;
  }
}

.modal-description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  margin-left: 16px;
  margin-top: 14px;
  font-size: 12px;
  line-height: 15px;
  color: #5C5C5C;
}
@media screen and (min-width: 768px) {
  .modal-description {
    font-size: 16px;
    line-height: 20px;
    margin-left: 32px;
    margin-top: 24px;
  }
}

.modal__input-list {
  margin-left: 16px;
}
@media screen and (min-width: 768px) {
  .modal__input-list {
    margin-left: 32px;
  }
}

.cross-svg {
  border: 2px solid #000000;
  width: 16px;
  height: 16px;
}

.modal__input {
  width: 240px;
  height: 35px;
}
@media screen and (min-width: 768px) {
  .modal__input {
    width: 416px;
    height: 49px;
  }
}

.modal__button {
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  background: rgba(232, 111, 84, 0.4);
  color: #FFFFFF;
  border-radius: 8px;
  width: 240px;
  margin-top: 24px;
  height: 37px;
  font-size: 14px;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  line-height: 17px;
}
@media screen and (min-width: 768px) {
  .modal__button {
    width: 416px;
    height: 50px;
    margin-top: 38px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }
}

.modal-list__item {
  margin-top: 30px;
}

.modal_content {
  background: #fff;
  max-width: 480px;
  position: absolute;
  max-height: 511px;
}/*# sourceMappingURL=index.css.map */