<section class="about">
  <div class="about__container">
    <div class="about-center">
      <h1 class="about__title">ABOUT</h1>
      <div class="about__div"></div>
    </div>
    <div class="about__list">
      <p class="about__text">
        We are a minimalistic flower studio. We love people and flowers.
        Therefore, every day we give people the beauty and joy creating stylish
        and modern masterpieces. Every bouquet we create is unique as you are.
      </p>

      <img class="about__img" src="img/about@2x.jpg" alt="flower" />
    </div>
  </div>
</section>
