<section class="about">
  <div class="container">
    <h1 class="about__title">ABOUT</h1>
    <!-- <div class="about__div"></div> -->
    <ul class="about__list">
      <li class="about__item">
        <p class="about__text">
          We are a minimalistic flower studio. We love people and flowers.
          Therefore, every day we give people the beauty and joy creating
          stylish and modern masterpieces. Every bouquet we create is unique as
          you are.
        </p>
      </li>
      <li class="about__item">
        <img class="about__img" src="img/about@2x.jpg" alt="flower" />
      </li>
    </ul>
  </div>
</section>
