<section class="about">
  <div class="container_fix">
    <div class="about-center">
      <h1 class="about__title">ABOUT</h1>
      <div class="about__div"></div>
    </div>
    <div class="about__list">
      <p class="about__text">
        We are a minimalistic flower studio. We love people and flowers.
        Therefore, every day we give people the beauty and joy creating stylish
        and modern masterpieces. Every bouquet we create is unique as you are.
      </p>
      <!-- <picture>
        <source
          srcset="img/about-mobile@1x.jpg, img/about-mobile@2x.jpg"
          media="(max-width: 767px)"
        />
        <source
          srcset="img/about-tablet@1x.jpg, img/about-tablet@2.jpg"
          media="(min-width: 768px)"
        />
        <source
          srcset="img/about@1x.jpg, img/about@2x.jpg"
          media="(min-width: 1200px)"
        /> -->
      <img class="about__img" src="img/about@2x.jpg" alt="flower" />
      <!-- </picture> -->
    </div>
  </div>
</section>
