<section>
    <div class="blog">
    <h2 class="blog__title">BLOG</h2>    
      <svg>
        <use href="../img/svg.svg#icon-Arrow-left"></use>
      </svg> 
       <div id="app">
    <div class="slider">
      <div>
        <img
          src="../img/blog-img1@1x.jpg"
        />
      </div>
      <div>
        <img
          src="../img/blog-img2@1x.jpg"
        />
      </div>
      <div>
        <img
          src="../img/blog-img3@1x.jpg"
        />
      </div>
      <div>
    </div>
      <svg>
        <use href="../img/svg.svg#icon-Arrow-right"></use>
      </svg>
      
      <h3 class="blog__mini-title">Follow to our newsletter</h3>
      <button class="blog__button" type="button">Subscribe</button>
</section>