<section class="container">
  <div class="blog">
    <div class="blog__center">
      <h2 class="blog__title">BLOG</h2>
      <div class="blog__div"></div>
    </div>

    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="img/blog-img1@1x.jpg" alt=""></div>
        <div class="swiper-slide"><img src="img/blog-img2@1x.jpg" alt=""></div>
        <div class="swiper-slide"><img src="img/blog-img3@1x.jpg" alt=""></div>
      </div>

        <div class="swiper-button-prev">svg</div>
        <div class="swiper-button-next">svg</div>
    </div>

    <h3 class="blog__mini-title">Follow to our newsletter</h3>
    <button class="blog__button" type="button">Subscribe</button>
  </div>
</section>
