<section class="section-delivery">
  <div class="container">
    <div class="delivery-center">
      <h2 class="section__delivery-title">DELIVERY</h2>
      <div class="delivery-div"></div>
    </div>
    <ul class="section__delivery-list">
      <li class="section__list-item">
        <button class="section__item-button">1</button>
        <p class="section__item-text">
          Choose your bouquet and make an order on website
        </p>
      </li>
      <li class="section__list-item">
        <button class="section__item-button">2</button>
        <p class="section__item-text">
          Wait for the call to clarify the details of the order. You can pay
          online or to the courier
        </p>
      </li>
      <li class="section__list-item">
        <button class="section__item-button">3</button>
        <p class="section__item-text">
          Wait for the call to clarify the details of the order. You can pay
          online or to the courier
        </p>
      </li>
      <li class="section__list-item">
        <button class="section__item-button">4</button>
        <p class="section__item-text">Make someone happy or enjoy yourself</p>
      </li>
    </ul>
  </div>
    <img src="img/delivery@2x.jpg" alt="5" class="section__delivery-img" />
  
</section>
