<footer class="footer">
  <div class="container">
  <div class="footer__logo-style">  
    <svg class="footer__logo">
            <use href="img/svg.svg#icon-logo"></use>
    </svg>
  </div>
  <div class="container_side">
  <ul class="footer__main-list">
    <ul class="footer__side-list">
    <li class="footer__item">
        <h3 class="footer-list-title">Navigation</h3>
        </li>
        <li class="footer__item">
        <p class="footer__list-text">Anemone</p>
      </li>
      <li class="footer__item">
        <p class="footer__list-text">About sus</p>
      </li>
      <li class="footer__item">
        <p class="footer__list-text">Store</p>
      </li>
      <li class="footer__item">
        <p class="footer__list-text">Delivery</p>
      </li>
    </li>
  </ul>
</div>
  <div class="container_side">
  <ul class="footer__side-list">
    <li class="footer__item">
        <h3 class="footer-list-title">Opening times</h3>
        </li>
        <li class="footer__item">
        <p class="footer__list-text">Every day <br>
        9:00 - 22:00</p>
    </li>
  </ul>
</div>

  <div class="container_side">
  <ul class="footer__side-list">
    <li class="footer__item">
        <h3 class="footer-list-title">Contacts</h3>
        </li>
        <li class="footer__item">
          <a class="contacts__link" href="tel:+38 063 123 45 67">
            <span>+38 063 123 45 67</span>
          </a>
      </li>
      <li class="footer__item">
        <a class="contacts__link" href="mailto:anemonestudio@example.com">
          <span>anemonestudio@example.com</span>
    </a>
        </li>
        <li class="footer__item">
        <address class="footer__adress">
            Reitarska Street, 11 <br>
            Kyiv, Ukraine
        </address>
    </li>
  </ul>
</div>
  
<div class="container_side">
  <ul class="footer__networks">
    <li class="footer-networks__item">
        <svg class="footer__networks-facebook">
            <use  href="img/svg.svg#icon-facebook"></use>
        </svg>
      </li>
      <li class="footer-networks__item">
        <svg class="footer__networks-instagram">
            <use  href="img/svg.svg#icon-instagram"></use>
        </svg>
      </li>
      </ul>
    </ul>
  </div>
    </div>
</footer>