<section>
  <div class="footer__logo-style">  
    <svg class="footer__logo">
            <use class="footer__logo-pic" href="img/svg.svg#icon-logo"></use>
    </svg>
  </div>
  
  <ul class="footer__list">
    <li class="footer__item">
        <h3 class="footer-list-title">Navigation</h3>
        <p class="footer__list-text">Anemone</p>
        <p class="footer__list-text">About us</p>
        <p class="footer__list-text">Store</p>
        <p class="footer__list-text">Delivery</p>
    </li>
    <li class="footer__item">
        <h3 class="footer-list-title">Opening times</h3>
        <p class="footer__list-text">Every day
        9:00 - 22:00</p>
    </li>
    <li class="footer__item">
        <h3 class="footer-list-title">Contacts</h3>
        <a class="contacts__link" href="mailto:anemonestudio@example.com">
              <span>anemonestudio@example.com</span>
        </a>
        <a class="contacts__link" href="tel:+38 063 123 45 67">
              <span>+38 063 123 45 67</span>
        </a>
        <address class="footer__adress">
            Reitarska Street, 11
            Kyiv, Ukraine
        </address>
    </li>
  </ul>

  <div class="footer__networks">
        <svg class="footer__networks-pic">
            <use class="footer__networks-svg" href="img/svg.svg#icon-facebook"></use>
        </svg>
        <svg class="footer__networks-pic">
            <use class="footer__networks-svg" href="img/svg.svg#icon-instagram"></use>
        </svg>
  </div>
</section>