    <header>
  <div class="container">
    <nav class="header__navigation">
      <a href="/" class="header__navigation-a">
        <svg class="header__navigation-icon" height="76" width="76">
          <use href="img/svg.svg#icon-logo"></use>
        </svg>
      </a>
       <div  class="nav-box">
          <ul  class="navigation__list">
            <li class="navigation__list--item">
              <a href="/" class="navigation__item--page">Anemone</a>
            </li>
            <li class="navigation__list--item">
              <a href="/" class="navigation__item--page"
                >About us</a
              >
            </li>
            <li class="navigation__list--item">
              <a href="/" class="navigation__item--page">Store</a>
            </li>
             <li class="navigation__list--item">
              <a href="/" class="navigation__item--page">Delivery</a>
            </li>
             <li class="navigation__list--item">
              <a href="/" class="navigation__item--page">Blog</a>
            </li>
          </ul>
         
        <div class="contact__header--list">
            <a href="mailto:info@devstudio.com" class="contact__item--link"
              ><svg class="contact__link--icon" height="20" width="20">
                <use href="img/svg.svg#icon-phone"></use>
              </svg>
              </a>
            </div>
          </nav> 
            <button class="modal-button">
              <svg class="modal-icon"height=22 width="22">
                <use href="img/svg.svg#icon-burger"></use>
              </svg>
            </button>
          
         
        </div>
      </div> 
    </header>