  <header>
  <div class="container">
    <nav class="header__navigation">
      <a href="/" class="header__navigation-a">
        <svg class="header__navigation-icon" height="76" width="76">
          <use href="../../img/svg.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="header__navigation-list">
        <li class="header__list-item">
          <a href="/" class="header__item-page">Anemone</a>
        </li>
        <li class="header__list-item">
          <a href="/" class="header__item-page">About us</a>
        </li>
        <li class="header__list-item">
          <a href="/" class="header__item-page">Store</a>
        </li>
        <li class="header__list-item">
          <a href="/" class="header__item-page">Delivery</a>
        </li>
        <li class="header__list-item">
          <a href="/" class="header__item-page">Blog</a>
        </li>
      </ul>
      <div class="header__contact-div">
        <a href="tel:+380991111111" class="header__contact-page">
          <svg class="header__contact-icon" height="22" width="22">
            <use href="../../img/svg.svg#icon-phone"></use>
          </svg>
          
        </a>
      </div>
    </nav>
  </div>
</header>
