<section class="hero">
 
       
    <h1 class="hero__main-title">ANEMON<span class="hero-title__span">E</span> </h1>
    <ul class="hero-list">
        <li class="hero-list__item"><h2 class="hero__item-text">flower <br> studio </h2></li>
        <li  class="hero-list__item"><div class="hero-box"></div></li>
        <li class="hero-list__item"><svg class="hero__first-svg"><use href="img/svg.svg#icon-hero"></use></svg>
            <svg class="hero__second-svg" ><use href="img/svg.svg#hero-svg-mobile"></use></svg></li>
    </ul>


</section>