<section class="section_store" >
    <h2 class="title_store">STORE</h2>
    <div class="container">
    <ul class="store_list">
        
        <li class="store_item">
            <picture>
    <source srcset="src/img/store-compliments__mobile@1x.jpg 1x, src/img/store-compliments__mobile@2x.jpg 2x" media="(max-width: 768px)">
        <source srcset="src/img/store-compliments__tablet@1x.jpg 1x, src/img/store-compliments__tablet@2x.jpg 2x" media="(min-width: 768px)">
            <source srcset="src/img/store-compliments@1x.jpg 1x, src/img/store-compliments@x2.jpg 2x" media="(min-width: 1200px)">
            <img src="src/img/store-compliments@1x.jpg" alt="">
        </picture>
        <h2 class="flowers_name">compliments</h2>
        <p class="flowers_text">from $15</p>
        </li>
    
        <li class="store_item">
    
                <picture>
        <source srcset="src/img/store-size-L__mobile@1x.jpg 1x, src/img/store-size-L__mobile@2x.jpg 2x" media="(max-width: 768px)">
            <source srcset="src/img/store-size-L__tablet@1x.jpg 1x, src/img/store-size-L__tablet@2x.jpg 2x" media="(min-width: 768px)">
                <source srcset="src/img/store-size-L@1x.jpg 1x, src/img/store-size-L@2x.jpg 2x" media="(min-width: 1200px)">
                <img src="src/img/store-size-L@1x.jpg" alt="">
            </picture>
            <h2 class="flowers_name">bouquets size S</h2>
            <p class="flowers_text">from $25</p>
            </li>
    
            <li class="store_item">
                    <picture>
            <source srcset="src/img/store-size-m__mobile@1x.jpg 1x, src/img/store-size-m__mobile@2x.jpg 2x" media="(max-width: 768px)">
                <source srcset="src/img/store-size-m__tablet@1x.jpg 1x, src/img/store-size-m__tablet@2x.jpg 2x" media="(min-width: 768px)">
                    <source srcset="src/img/store-size-m@1x.jpg 1x, src/img/store-size-s@2x.jpg 2x" media="(min-width: 1200px)">
                    <img src="src/img/store-size-m@1x.jpg" alt="">
                </picture>
                <h2 class="flowers_name">bouquets size M</h2>
                <p class="flowers_text">from $45</p>
                </li>
    
                <li class="store_item">
                        <picture>
                <source srcset="src/img/store-size-s__mobile@1x.jpg 1x, src/img/store-size-s__mobile@2x.jpg 2x" media="(max-width: 768px)">
                    <source srcset="src/img/store-size-s__tablet@1x.jpg 1x, src/img/store-size-s__tablet@2x.jpg 2x" media="(min-width: 768px)">
                        <source srcset="src/img/store-size-s@1x.jpg 1x, src/img/store-size-s@2x.jpg 2x" media="(min-width: 1200px)">
                        <img src="src/img/store-size-s@1x.jpg" alt="">
                    </picture>
                    <h2 class="flowers_name">bouquets size L</h2>
                    <p class="flowers_text">from $60</p>
                    </li>
    </ul>
</div>
    <button class="store_button" type="button">Order flowers</button>
    
        </section>