<section class="section_store" >
    <h2 class="title_store">STORE</h2>
    <ul class="store_list">
        
        <li class="store_item">
            <picture>
    <source srcset="" media="(max-width: 768px)">
        <source srcset="" media="(min-width: 768px)">
            <source srcset="" media="(min-width: 1200px)">
            <img src="./img/desktop/bouquet3.jpg" alt="">
        </picture>
        <h2 class="flowers_name">compliments</h2>
        <p class="flowers_text">from $15</p>
        </li>
    
        <li class="store_item">
    
                <picture>
        <source srcset="" media="(max-width: 768px)">
            <source srcset="" media="(min-width: 768px)">
                <source srcset="" media="(min-width: 1200px)">
                <img src="./img/desktop/bouquet1.jpg" alt="">
            </picture>
            <h2 class="flowers_name">bouquets size S</h2>
            <p class="flowers_text">from $25</p>
            </li>
    
            <li class="store_item">
                    <picture>
            <source srcset="" media="(max-width: 768px)">
                <source srcset="" media="(min-width: 768px)">
                    <source srcset="" media="(min-width: 1200px)">
                    <img src="./img/desktop/bouquet2.jpg" alt="">
                </picture>
                <h2 class="flowers_name">bouquets size M</h2>
                <p class="flowers_text">from $45</p>
                </li>
    
                <li class="store_item">
                        <picture>
                <source srcset="" media="(max-width: 768px)">
                    <source srcset="" media="(min-width: 768px)">
                        <source srcset="" media="(min-width: 1200px)">
                        <img src="./img/desktop/bouquet4.jpg" alt="">
                    </picture>
                    <h2 class="flowers_name">bouquets size L</h2>
                    <p class="flowers_text">from $60</p>
                    </li>
    </ul>
    
        </section>