.about__title {
  margin-right: 14px;
  font-size: 25px;
  line-height: 29px;
  font-weight: 700;
  color: $title-color;
  margin-right: 16px;
  @media screen and (min-width: 768px) {
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
  }
  @media screen and (min-width: 1200px) {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 1.22;
    color: $title-color;
    margin-right: 16px;
  }
}

.about__div {
  content: '';
  width: 1050px;
  border-bottom: 1px solid #000000;
  height: 1px;
}

.about-center {
  display: flex;
  align-items: center;
  margin-bottom: 26px;

  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    padding-top: 80px;
  }
}
// .about__title::after {
//   width: 538px;
//   height: 0px;
//   margin-left: 7px;
//   margin-top: 13px;
//   border: 1px solid #000000;
// }

.about__text {
  margin-bottom: 16px;
  font-size: 16px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  width: 288px;
  @media screen and (min-width: 768px) {
    margin-right: 39px;
    margin-top: 56px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 123px;
  }
  @media screen and (min-width: 1200px) {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.22;
    width: 493px;
    margin-right: 100px;
    color: $title-color;
    margin-top: 120px;
  }
}

.about__item {
  display: flex;
  align-items: center;
}

.about__img {
  margin-bottom: 50px;
  width: 288px;
  height: 178px;
  @media screen and (min-width: 768px) {
    width: 344px;
    height: 217px;
    margin-top: 38px;
  }
  @media screen and (min-width: 1200px) {
    width: 632px;
    height: 344px;
    margin-bottom: 100px;
  }
}

.about__list {
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: nowrap;
  }
  @media screen and (min-width: 1200px) {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    // align-items: center;
  }
}
