.blog {
  &__title {
  font-family: 'Montserrat';
  font-weight: 700;
  color: $title-color;
  font-size: 44px;
}

&__title::after {
  content: '';
  position: absolute;
  bottom: -172%;
  left: 0, 5;
  transform: translateY(-50%);
  width: 87%;
  border-top: 1px solid black;
}

&__mini-title {
  font-family: 'Montserrat';
  font-size: 32px;
  font-weight: 500;
  color: $title-color;
  text-align: center;
}

&__button {
  display: flex;
  background-color: $background-color;
  color: $accent-color;
  border-style: none;
  font-size: 28px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 69px;
  padding-right: 69px;
  border-radius: 38px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
}