header {
  display: flex;
  position: absolute;
}

.header__navigation {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.header__item-page {
  text-decoration: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: white;
}

.header__navigation-list {
  display: flex;
  padding-top: 5px;
  padding-left: 220px;
}

.header__list-item {
  margin-top: 3px;
  margin-left: 48px;
}

.header__contact-div {
  padding-left: 300px;
  padding-top: 5px;
}

.header__contact-icon {
  fill: white;
}
